html, body {
    height: 100%;
}

.announcement {
    padding: 0.9375em;
    text-align: center;
    font-size: 0.875em;
    color: #fff;
    background-color: #ffd1dc;
}

.announcement__content {
    display: inline-block;
    margin-bottom: 0;
}

.announcement__content p {
    margin: 0;
    padding: 0;
}


.navbar-default {
    border-radius: 0;
    border: none;
    background: transparent;
}

.navbar-default .navbar-nav > li  {
    height: 66px;
}

.navbar-default .navbar-nav > li > a {
    color: white;
    display: block;
    font: 18px sans-serif;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	padding: 14px 12px;
	line-height: 38px;
	transition: color .5s;
	position: relative;
}


.full-height .hero {
  margin: 0 auto;
  width: 100%;
  position: relative;
  top: 25%;
  text-align: center;
}

.full-height .title {
  text-transform: uppercase;
  color: #fff;
  font-size: 7em;
  margin-top: 80px;
  opacity: 0;
}

.section-fadeIn {
    visibility: hidden;
}

.alt-bg-color {
    background: #ededed;
}


.service .service-title, .spotlight h3 {
    color: #28ADD1;
    font-weight: 600;
}

.service p {
    font-size: 20px;
}

.sidebar-left {
    margin: 0;
    height: 435px;
    text-transform: uppercase;
    padding: 88px 0 0 40px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.sidebar-left h2 {
    margin: 0;
    line-height: normal;
    letter-spacing: normal;
}

.pad-65, .pad-55, .pad-35 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.pad-35 {
    padding-top: 35px;
}

.pad-55 {
    padding-top: 55px;
}

.font_2 {
    font: normal normal normal 45px/1.4em 'Open Sans',sans-serif;
    color: #000000;
}

.font_3 {
    font-size: 1.5em;
}

.centered {
    margin: 0 auto;
}

.base-color {
    color: white;
}

#middle {
  background: linear-gradient( rgba(76, 84, 106, 0.7), rgba(76, 84, 106, 0.7) ),url('../images/bonding.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}


.location .glyphicon {
    color: #28ADD1;
}

.location p {
    font-size: 24px;
}

.wrapper {
    padding: 4.5em 0 2.5em 0;
    background-color: #ffffff;
    border-bottom: solid 2px #eeeeee;
}

.wrapper > .inner {
    margin-left: auto;
    margin-right: auto;
    width: 50em;
}

.wrapper > .inner.alt > *:first-child {
    border-top: 0;
    margin-top: 0;
    padding-top: 0;
}

.wrapper > .inner.alt > * {
    border-top: solid 2px #eeeeee;
    margin-bottom: 0;
    margin-top: 3em;
    padding-top: 3em;
}

.spotlight {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    margin: 0 0 2em 0;
}


.spotlight .image {
    width: 30%;
    border-radius: 100%;
    margin: 0 3em 0 0;
    display: block;
}


.image {
    box-shadow: 0 0 0 4px #ffffff, 0 0 0 5px #e6e6e6;
}

.image {
    border-radius: 6px;
    border: 0;
    display: inline-block;
    position: relative;
    overflow: hidden;
}


.spotlight .image img {
    display: block;
    border-radius: 100%;
    width: 100%;
}



.spotlight .content {
    width: 70%;
}


.spotlight .content > :last-child {
    margin-bottom: 0;
}

.spotlight p {
    margin: 0 0 2em 0;
    font-size: 20px;
}

.content ol li {
    font-size: 18px;
}

footer {
  background-color: #ffd1dc;
  padding: 25px 0 5px 0;
  color: #b0b0b0;
  text-align: center;
}

footer .copyright {
  font-size: 18px;
  color: white;
  margin: 0 0 2em 0;
}


@media screen and (max-width: 550px) {
    
    .full-height .title {
        font-size: 3em;
    }
    
    .media-sm {
        background: rgba(0, 0, 0, 0.5);
    }
    
    .location p {
        font-size: 16px;
    }
}

@media screen and (max-width: 550px) and (max-width: 750px) {
    
    .sidebar-left {
        height: 250px;
    }
    
    .wrapper > .inner {
        width: 100%;
    }
    
    .spotlight {
        display: block;
    }
    
    .spotlight .image, .spotlight .content {
        margin: 0 auto;
    }
    
    .spotlight .content h3, .spotlight .content .description {
        text-align: center;
    }
}